<!DOCTYPE HTML>

<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css"/>        
		<link rel="stylesheet" type="text/css" href="/static/css/style.css"> 
        <link rel="stylesheet" type="text/css" href="/static/css/albumPage.css"/> 
		<link rel="stylesheet" type="text/css" href="/static/css/header.css"/> 		
		<script src="/static/js/jquery.js"></script>
		<script src="/static/audiojs/audio.min.js"></script>
		<script src="/static/js/bootstrap.js"></script>

	</head>
	
	
	<body style="background-color:#d1d1d1">	
		{% include 'header.html'%}
		<div id="main"  data-page-type="albumPage">
			<div id="imageAndDetailContainer">
				<img class="albumImage" src="/static/image/{{ albumId }}.jpg">
				<div class="albumDetails" >
					<h3 class="albumName">{{ albumTitle }}</h3>
					<div class="album-meta-data">
						<span class="field-name">Singers:</span>
						<span class="field-value">Amadeep Singh</span>
					</div>
					<div class="album-meta-data">
						<span class="field-name">Cast:</span>
						<span class="field-value">Akash Chaturvedi, Vishawnath Pratap Singh</span>
					</div>
					<div class="album-meta-data">
						<span class="field-name">Music Director:</span>
						<span class="field-value">Tejendra Pratap Singh</span>
					</div>
					<div class="album-meta-data">
						<span class="field-name">Uploaded By:</span>
						<span class="field-value">Kiwi</span>
					</div>
	
				</div>
			</div>
			<div class="btn btn-primary">Play All</div>
			<ul class="song_list">
				{% for song  in albumSongs %}
				<li class="song" data-id={{ song.song_id }} data-link = {{ song.song_link}}> 
					<!-- we will remove data-link once we store are the song links suffixed by their song_id -->
					<button class="play-icon"></button>
					<div class="song_title">{{ song.song_name }}</div>
					<div class="add-playlist-icon">+</div>
				</li>
				{% endfor %}
				<div style="border-top:1px solid #AFAFAF">
			</ul>
		</div>
	</body>
</html>