#main {
	width:50%;
	margin: 70px auto 50px;
	position:relative;
	
}

#imageAndDetailContainer {
	margin-bottom:20px;
	background-color:#AFAFAF;
}

.albumImage {
	display:inline-block;
	margin-right:10px;
}

.albumDetails {
	display:inline-block;
	vertical-align:top;
	width: calc(100% - 150px);
}

.albumName{
	margin:0;
	font-size:20px;
}

.album-meta-data {
	margin-bottom:3px;
	font-size:12px;
	font-weight:bold;
}

.field-name{
	margin-right:3px;
}

.field-value {
	color:#656565;
	display:inline-block;
	overflow:hidden;
	text-overflow:ellipsis;
	width:85%;
	white-space:nowrap;
}

.song_list {
	padding:0;
	margin: 20px 0 0;
}

.song {
	list-style-type:none;
	border-top:1px solid #AFAFAF;
	padding:15px 0 15px 5px;
	font-size: 18px;
}

.play-icon {
	background: url('http://cdn.dhstatic.net/images/sprite-interface-11168.png') -290px -195px;
	border: 0;
	cursor: pointer;
	width: 38px;
	height: 38px;
	margin-right:10px;
}

.song_title {
	display:inline-block;
	width:85%;
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap;
}

.add-playlist-icon {
	display:inline-block;
	float:right;
	margin-right:10px;
	position:relative;
	top:7px;
	cursor:pointer;
}