.top-panel {
background: #205081;
border-bottom: 1px solid #2e3d54;
height: 42px;

position: fixed;
top: 0;
left: 0;
width: 100%;
z-index: 45;
}


.login-button{
margin:5px 20px 0 0;

float: right;
margin-left: 50px;
margin-top: 3px;
color: #555;
}

#login-i :active {
background-color: #3b73af;

}

#login-i :hover {
background-color: red;
}

.master-all{
margin-left:200px;
max-width: 700px;
min-width:200px

}

.master-upload{
float: right;
margin-top: 3px;
margin-left: 25px;
}

#masthead-search {
position: relative;
padding: 0;
margin-top: 7px;
overflow: hidden;
}


.search-btn-component {
border-left: 0;
-moz-border-radius-topleft: 0;
-webkit-border-top-left-radius: 0;
border-top-left-radius: 0;
-moz-border-radius-bottomleft: 0;
-webkit-border-bottom-left-radius: 0;
border-bottom-left-radius: 0;
}

.search-btn-component {
float: right;
height: 32px;
padding: 0 .91em;
opacity: 1;
filter: none;
_margin-left: -3px;
}

.master-search{
width: 600px;
}

#search-btn {
padding: 0;
}

button.yt-uix-button {
height: 29px;
}




.yt-uix-button-default{
color: #333;
}


.yt-uix-button-default {
text-shadow: 0 1px 0 rgba(255,255,255,.5);
border-color: #d3d3d3;
background-color: #f8f8f8;
filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#fffcfcfc,EndColorStr=#fff8f8f8);
background-image: -moz-linear-gradient(top,#fcfcfc 0,#f8f8f8 100%);
background-image: -ms-linear-gradient(top,#fcfcfc 0,#f8f8f8 100%);
background-image: -o-linear-gradient(top,#fcfcfc 0,#f8f8f8 100%);
background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#fcfcfc),color-stop(100%,#f8f8f8));
background-image: -webkit-linear-gradient(top,#fcfcfc 0,#f8f8f8 100%);
background-image: linear-gradient(to bottom,#fcfcfc 0,#f8f8f8 100%);
}

.yt-uix-button {
height: 2.55em;
padding: 0 .9em;
border-width: 1px;
border-style: solid;
outline: 0;
font-weight: bold;
font-size: 11px;
white-space: nowrap;
word-wrap: normal;
vertical-align: middle;
cursor: pointer;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
}
 #search-btn .yt-uix-button-content {
margin: 0 25px;
}



.search-btn-component .yt-uix-button-content {
background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflfD-Kh5.webp) -213px -276px;
}

.search-btn-component .yt-uix-button-content {
display: block;
border: none;
padding: 0;
background: no-repeat url(//s.ytimg.com/yts/imgbin/www-refresh-vflK2A6kR.webp) -170px -201px;
width: 14px;
height: 14px;
opacity: .6;
text-indent: -10000px;
-moz-box-shadow: none;
-ms-box-shadow: none;
-webkit-box-shadow: none;
box-shadow: none;
}

#masthead-search-terms {
position: relative;
overflow: hidden;
height: 32px;
margin: 0 0 2px;
_padding-left: 5px;
_padding-right: 5px;
font-size: 14px;
line-height: 30px;
background-color: #fff;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
-moz-border-radius-topleft: 3px;
-webkit-border-top-left-radius: 3px;
border-top-left-radius: 3px;
-moz-border-radius-bottomleft: 3px;
-webkit-border-bottom-left-radius: 3px;
border-bottom-left-radius: 3px;
-moz-transition: border-color .2s ease;
-ms-transition: border-color .2s ease;
-o-transition: border-color .2s ease;
-webkit-transition: border-color .2s ease;
transition: border-color .2s ease;
}
.masthead-search-terms-border {
border: 1px solid #ccc;
-moz-box-shadow: inset 0 1px 2px #eee;
-ms-box-shadow: inset 0 1px 2px #eee;
-webkit-box-shadow: inset 0 1px 2px #eee;
box-shadow: inset 0 1px 2px #eee;
}
#masthead-search-terms {
height: 29px;
}

#masthead-search.consolidated-form #masthead-search-terms label {
height: 100%;
}
#masthead-search-terms label {
display: block;
_margin-top: 5px;
}

#masthead-search label {
height: 100%;
line-height: 30px;
padding: 0;
border: none;
overflow: hidden;
}
#masthead-search.consolidated-form input {
outline: none;
height: 125%;
border-radius:none;
}


#masthead-search-terms input {
display: inline-block;
width: 100%;
padding: 0 0 8px 6px;
margin: 0;
border: 0;
outline: none;
background: transparent;
font-size: 16px;
_position: absolute;
_left: 0;
_width: 100%;
zoom: 1;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

