
* {
margin: 0;
padding: 0;
outline: 0;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;

/*   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px; */

}

body {
color: #666;
font-size: .75em;
font-family: BentonSans,"Lucida Sans","Lucida Grande",sans-serif;
}


div {
display: block;
}

.left, .alignleft {
float: left;
display: inline;
}

.albumDetail {
	cursor:pointer;
}

.right, .alignleft {
float: right;
display: inline;
}
#main-container { margin:0 auto; overflow:auto; padding:80px 0; width:980px; }


/* Make Footer Sticky */
#footer_container { background:#000; border:1px solid #666; bottom:80px; height:60px; left:0; position:fixed; width:100%;z-index:2 }

#footer { line-height:60px;  width:980px; text-align:center; }
/* Make header Sticky */
#header_container {background-color:#eee; height:60px; left:0; width:100%; top:0; }
#header{ line-height:60px; margin:0 auto; width:980px; text-align:center; }


.shell {

height: 42px;

width: 600px;

padding: 0 5px;
position: relative;
}





.audio-player{
right:20px;
margin-top:10px;
position:absolute;

}




#main, .primary-content {
background: #fff;
border-radius: 10px;
width: 970px;
padding: 20px;
overflow: hidden;
min-height: 285px;
position: relative;
margin-top:70px;
margin-left: 291px;
z-index: 1;
padding-bottom:150px;
}

.carousel-title {
border-bottom: 1px dotted #b8b6b3;
color: #323a42;
display: inline-block;
font-size: 18px;
font-weight: bold;
line-height: 26px;
margin: 0;
margin-bottom: 10px;
}


.featured-albums, .recommended-albums, .popular-playlists, .recent-albums, .popular-radios, .top-albums {
overflow: hidden;
position: relative;
width: 627px;
height: 230px;
}

.featured-albums-carousel, .recommended-albums-carousel, .popular-playlists-carousel, .popular-radios-carousel, .recent-albums-carousel, .top-albums-carousel {
margin-top: 15px;

position: relative;
width: 100%;
height: 175px;
}

.carousel-list {
height: 175px;
list-style: none;
margin: 0;
overflow: hidden;
padding: 0;
}

.carousel-list-item {
float: left;
margin-right: 30px;
overflow: hidden;
position: relative;
width: 134px;
height: 175px;
}
.carousel-list-item .play-icon {
background: url('http://cdn.dhstatic.net/images/sprite-interface-11168.png') -290px -195px;
border: 0;
cursor: pointer;
display: none;
position: absolute;
top: 82px;
left: 13px;
width: 38px;
height: 38px;
z-index: 9999;
}

.carousel-list-item:hover .album-play-icon, .carousel-list-item:hover .playlist-play-icon {
display: block;
}
.carousel-list-item:hover .radio-play-icon {
display: block;
}


.signInForm {
font-size: 10px;
}
.signInForm>div>aside {
padding-right: 30px;
border-right: 1px dotted #CCC;
}


.signInForm>div>* {
width: 50%;
box-sizing: border-box;
-moz-box-sizing: border-box;
float: left;
}
button.facebook:hover, button.facebook:active {
border-color: #314A7E;
background-image: -o-linear-gradient( #3b5998, #354f87);
background-image: -ms-linear-gradient( #3b5998, #354f87);
background-image: -moz-linear-gradient( #3b5998, #354f87);
background-image: -webkit-linear-gradient( #3b5998, #354f87);
background-image: linear-gradient( #3b5998, #354f87);
}
button.facebook:hover, button.facebook:active {
border-color: #314A7E;
background-image: -o-linear-gradient( #3b5998, #354f87);
background-image: -ms-linear-gradient( #3b5998, #354f87);
background-image: -moz-linear-gradient( #3b5998, #354f87);
background-image: -webkit-linear-gradient( #3b5998, #354f87);
background-image: linear-gradient( #3b5998, #354f87);
}

button.facebook, button.twitter, button.myspaceoriginal, button.emaillogin {
padding: 0;
border: 0;
}
i.facebook, button.facebook {
background-color: #3B5997;
}

button:active, .button:active {
background-color: #858585;
background-image: -o-linear-gradient( #858585, #959595);
background-image: -ms-linear-gradient( #858585, #959595);
background-image: -moz-linear-gradient( #858585, #959595);
background-image: -webkit-linear-gradient( #858585, #959595);
background-image: linear-gradient( #858585, #959595);
}button.massive:hover>i {
background-position: center -15px;
}

button:hover .facebook_170 {
display: inline-block;
width: 170px;
height: 170px;
background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAKoAAACqCAMAAAAKqCSwAAABFFBM…B8OdTSSWVVFJJJZVUUkmNiVLtVAAAAAAAAAAAAAAAAABfOtWJAUgaOt4AAAAASUVORK5CYII=");
}
button.facebook>i, button.twitter>i, button.myspaceoriginal>i, button.emaillogin>i {
background-position: center center;
background-repeat: no-repeat;
}
button.massive>i {
-webkit-transition: background-position .5s ease-out;
-moz-transition: background-position .5s ease-out;
transition: background-position .5s ease-out;
}
.facebook_170 {
display: inline-block;
width: 170px;
height: 170px;
background-image: url("/static/image/facebook.png");
}
button:hover .facebook_170 {
display: inline-block;
width: 170px;
height: 170px;
background-image: url("/static/image/facebook.png");

}



i.massive, button.massive {
height: 170px;
width: 170px;
padding: 0;
border: 0;
position: relative;
background-position: center center;
}

button, .button {
height: 26px;
padding: 2px 10px;
background-color: #8E8E8E;
border: 1px solid transparent;
border-radius: 2px;
color: #FFF;
cursor: pointer;
font-size: 11px;
font-weight: 500;
}

button.massive:hover>p {
visibility: visible;
}

button.massive>p {
position: absolute;
bottom: 20px;
visibility: hidden;
font-size: 14px;
font-weight: 400;
width: 100%;
text-align: center;
}

p {
line-height: 18px;
}
button.twitter:hover, button.twitter:active {
border-color: #19A1CE;
background-image: -o-linear-gradient( #1cb5e8, #19a1cf);
background-image: -ms-linear-gradient( #1cb5e8, #19a1cf);
background-image: -moz-linear-gradient( #1cb5e8, #19a1cf);
background-image: -webkit-linear-gradient( #1cb5e8, #19a1cf);
background-image: linear-gradient( rgb(228, 39, 13), rgb(207, 54, 25));
}

.signInForm .thirdParty>button:not(:first-child) {
margin-left: 20px;
}

button.twitter {
background-color: rgb(211, 67, 61);
}

.signup-main-box{
width:800px; 
margin:0 auto;

}

.twitter_170 {
display: inline-block;
width: 170px;
height: 170px;
background-image: url("/static/image/google.svg");
}
.signInForm>div>aside {
padding-right: 30px;
border-right: 1px dotted #CCC;
}

.signInForm>div>fieldset {
padding-left: 30px;
}
  .formFooter {
background-color: #FFF;
padding: 10px;
margin-top: 35px;
text-align: right;
clear: both;
}

.signInForm button[type="submit"] {
width: 130px;
}

footer>button, .formFooter>button {
height: 35px;
padding: 2px 20px;
font-size: 14px;
}
.signInForm .control-group {
margin-top: 15px;
}

.signInForm .rememberMe {
display: inline-block;
margin-left: 10px;
text-transform: none;
line-height: 18px;
height: 18px;
}

.signup-main-box>header>h1 {
font-size: 50px;
font-weight: 100;
line-height: 1.2;
margin-bottom: 15px;
}

.signup-main-box>header>p {
font-size: 16px;
font-weight: 200;
margin-bottom: 2px;
}

.signup-main-box>header {
margin-bottom: 35px;
}
input[type='checkbox'].msCheckbox.left+span {
float: left;
margin-right: 5px;
}

.email_170 {
display: inline-block;
width: 170px;
height: 170px;
background-image: url("/static/image/email.png");
}

#sign_up_here,#log_in_here{
color:blue;
cursor:pointer
}


.carousel-list-item .radio-play-icon:hover {
background-position: 0px 0px;
}
.radio-play-icon {
background: url('/static/image/result.png');
background-position: 0px -276px;
border: 0;
background-size: cover;
cursor: pointer;
display: none;
position: absolute;
top: 2px;
right: 1px;
width: 38px;
height: 38px;
z-index: 9999;
}
.radio-play-icon2{
background-image: url('/static/image/pl.png');
border: 0;
background-size: cover;
cursor: pointer;
display: none;
position: absolute;
top: 2px;
right: 1px;
width: 38px;
height: 38px;
z-index: 9999;
}



.carousel-list-item:hover .radio-play-icon {
display: block;
}
.carousel-list-item:hover .radio-play-icon2 {
display: block;
}

#left-pannel{

width:290px;
height:1600px;
color:black;
background-color: rgb(194, 194, 194);
position:absolute;
margin-top:40px;
}


.left-pannel-1{


position: fixed !important;
left:0;
top: 20px;
height:600px !important ;

}

#left-pannel h1{
margin-left:5px;
font-size:18px;
}

.left-ticker{
margin-top:20px;
}
.carousel-list-item img {
border-radius:10px;
}
.carousel-list-item .metadata {
overflow: hidden;
position: absolute;
top: 140px;
width: 134px;
}

.carousel-list-item .metadata a:hover {
color: #09f;
text-decoration: none;
}

.carousel-list-item .metadata a:hover {
color: #09f;
text-decoration: none;
}

.carousel-list-item .metadata a {
color: #333;
display: block;
font-size: 14px;
font-weight: bold;
overflow: hidden;
width: 160px;
height: 16px;
}


		#player-wrapper.queue-small {
height: 125px;
}

#player-wrapper {
position: fixed;
height: 60px;
left: 0;
right: 0;
bottom: 0;
border-top: solid 1px #000;
z-index: 11000;
-webkit-transition: 0.3s;
-moz-transition: 0.3s;
-ms-transition: 0.3s;
-o-transition: 0.3s;
transition: 0.3s;
-webkit-transform: translatez(0);
-moz-transform: translatez(0);
-ms-transform: translatez(0);
-o-transform: translatez(0);
transform: translatez(0);
}

#queue-container {
position: absolute;
height: 134px;
top: 60px;
left: 0;
right: 0;
background: #000;
}

#player-container {
position: absolute;
height: 59px;
top: 0;
left: 0;
right: 0;
border-top: solid 1px #3d3d3d;
cursor: pointer;
}

#player {
position: relative;
width: 75%;
max-width: 1000px;
top: 5px;
margin: 0 auto;
cursor: auto;
z-index: 20;
}
#player-bg:hover {
background-color: #353535;
background-image: -moz-linear-gradient(top, #3b3b3b, #2b2b2b);
background-image: -ms-linear-gradient(top, #3b3b3b, #2b2b2b);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3b3b3b), to(#2b2b2b));
background-image: -webkit-linear-gradient(top, #3b3b3b, #2b2b2b);
background-image: -o-linear-gradient(top, #3b3b3b, #2b2b2b);
background-image: linear-gradient(top, #3b3b3b, #2b2b2b);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#3b3b3b', endColorstr='#2b2b2b', GradientType=0);
}

#player-bg {
position: absolute;
height: 60px;
top: 0;
left: 0;
right: 0;
z-index: 10;
-webkit-transition: 0.3;
-moz-transition: 0.3;
-ms-transition: 0.3;
-o-transition: 0.3;
transition: 0.3;
background-color: #2c2c2c;
background-image: -moz-linear-gradient(top, #333333, #222222);
background-image: -ms-linear-gradient(top, #333333, #222222);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#222222));
background-image: -webkit-linear-gradient(top, #333333, #222222);
background-image: -o-linear-gradient(top, #333333, #222222);
background-image: linear-gradient(top, #333333, #222222);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
}


#now-playing {
position: absolute;
height: 44px;
min-width: 140px;
left: 105px;
right: 135px;
background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyBAMAAADsEZWCAAAAIVBMV…Mf+OusW/bYkEtMNVgRdo9+C0+krFGnSmleJKOH3ny6+PoPgjKels3Sk/UAAAAASUVORK5CYII=);
background-color: #181818;
border: solid 1px #000;
-webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.05),inset 0 1px 0 0 rgba(0, 0, 0, 0.2);
-moz-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.05),inset 0 1px 0 0 rgba(0, 0, 0, 0.2);
box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.05),inset 0 1px 0 0 rgba(0, 0, 0, 0.2);
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}
#play-controls {
position: absolute;
display: none;
width: 90px;
left: 8px;
}

.playing #play-controls {
display: block;
}


#buffered {
position: absolute;
width: 0;
height: 6px;
top: 0;
left: 0;
z-index: 50;
cursor: pointer;
border: solid 1px #000;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
background-color: #383838;
background-image: -moz-linear-gradient(top, #3b3b3b, #333333);
background-image: -ms-linear-gradient(top, #3b3b3b, #333333);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3b3b3b), to(#333333));
background-image: -webkit-linear-gradient(top, #3b3b3b, #333333);
background-image: -o-linear-gradient(top, #3b3b3b, #333333);
background-image: linear-gradient(top, #3b3b3b, #333333);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#3b3b3b', endColorstr='#333333', GradientType=0);
}

#scrubber:hover {
background-position: -37px -67px;
}


#elapsed {
position: absolute;
width: 0;
height: 6px;
top: 0;
left: 0;
z-index: 70;
cursor: pointer;
border: solid 1px #000;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
background-color: #f88800;
background-image: -moz-linear-gradient(top, #f99a00, #f66c00);
background-image: -ms-linear-gradient(top, #f99a00, #f66c00);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f99a00), to(#f66c00));
background-image: -webkit-linear-gradient(top, #f99a00, #f66c00);
background-image: -o-linear-gradient(top, #f99a00, #f66c00);
background-image: linear-gradient(top, #f99a00, #f66c00);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#f99a00', endColorstr='#f66c00', GradientType=0);
}


.player-icon,#scrubber  {
background: url('/static/image/player.png');
}
.player-icon {
display: block;
width: 30px;
height: 30px;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
.player-btn {
position: relative;
display: block;
width: 30px;
height: 30px;
float: left;
}
a {
cursor: pointer;
color: #f77f00;
text-decoration: none;
}

#play-prev {
background-position: -30px 0px;
}

#play-pause {
background-position: -120px 0px;
}

#play-next.disabled {
background-position: -270px 0px;
}

#play-controls:before, #play-controls:after {
display: table;
content: "";
}
#play-controls:after {
clear: both;
}

.playing #now-playing .img-container, .playing #now-playing .inner, .playing #now-playing #volume-group {
display: block;
}

#now-playing .img-container {
position: absolute;
display: none;
width: 40px;
height: 40px;
top: 2px;
left: 107px;
float: left;
}

.playing #now-playing .img-container, .playing #now-playing .inner, .playing #now-playing #volume-group {
display: block;
}

#now-playing .inner {
position: absolute;
display: none;
min-width: 80px;
top: 6px;
bottom: 4px;
left: 155px;
right: 138px;
}

#np-meta-container {
position: absolute;
height: 14px;
left: 0;
right: 85px;
}

#now-playing .now-playing-time {
position: absolute;
display: block;
bottom: 1px;
color: #fff;
font-size: 11px;
line-height: 13px;
text-shadow: 0 1px 1px #000;
}

#now-playing .metadata {
position: relative;
max-width: 100%;
height: 14px;
color: #888888;
font-weight: bold;
line-height: 14px;
overflow: hidden;
}
#now-playing .metadata .song-link {
display: block;
max-width: 70%;

font-size: 12px;
font-style: normal;
font-variant: normal;
height: 14px;
float: left;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}

#now-playing .now-playing-link {
color: #fff;
}
#now-playing .metadata .data-container {
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}
#now-playing .now-playing-time {
position: absolute;
display: block;
bottom: 1px;
color: #fff;
font-size: 11px;
line-height: 13px;
text-shadow: 0 1px 1px #000;
}
#time-elapsed {
left: 0;
}
#progress-bar {
position: absolute;
height: 8px;
left: 38px;
right: 38px;
bottom: 4px;
background: #000;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
}
#now-playing .now-playing-time {
position: absolute;
display: block;
bottom: 1px;
color: #fff;
font-size: 11px;
line-height: 13px;
text-shadow: 0 1px 1px #000;
}
#time-total {
right: 0;
}
#now-playing .np-actions {
position: absolute;
top: -1px;
right: -2px;
height: 16px;
width: 80px;
}
#now-playing .np-action {
display: block;
float: left;
cursor: pointer;
}
#np-comment {
background-position: -432px -32px;
}

.icon {
display: inline-block;
width: 16px;
height: 16px;
vertical-align: text-top;
background-image: url('/static/image/icons-16x16.png');
background-repeat: no-repeat;
}

#np-fav {
background-position: -272px -96px;
}

#np-add {
background-position: -416px -16px;
}

#np-share {
background-position: -320px -160px;
}

#np-menu {
background-position: -256px 0px;
}
#volume-group {
position: absolute;

right: 100px;
}
#volume-control {
position: absolute;
left: 4px;
bottom: 30px;
width: 24px;
height: 98px;
z-index: 10002;
display: none;
background-position: center bottom;
}

#volume-control, #volume-slider .ui-slider-handle {
background-image: url(/static/image/slider.png);
background-repeat: no-repeat;
}

#volume-slider {
position: absolute;
bottom: 10px;
left: 2px;
width: 20px;
height: 70px;
}

#volume-slider .ui-slider-range {
bottom: 4px;
position: absolute;
width: 8px;
margin: 0 6px;
background: url('/static/image/slider2.png') repeat-y center;
}

#volume-slider .ui-slider-handle {
position: absolute;
left: 3px;
bottom: 0;
height: 7px;
width: 12px;
background-position: left top;
z-index: 10000;
cursor: pointer;
}

#volume.player-icon.five {
background-position: 0px -30px;
}

.has-songs #player-options {
display: block;
}

#player-options {
position: absolute;

width: 90px;
top: 7px;
right: 10px;
}


.player-option {
position: relative;
display: block;
width: 30px;
height: 30px;
float: left;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

.player-option .icon {
position: absolute;
top: 7px;
left: 7px;
}

.icon-shuffle-m-gray {
background-position: -448px -160px;
}

.icon-repeat-m-gray {
background-position: -32px -160px;
}

.icon-crossfade-m-gray {
background-position: -160px -48px;
}

.accessible-title {
display: none !important;
}

.grid-canvas {
left: 0;
right: 0;
}

.queue-small .queue-item-active {
width: 144px;
height: 55px;
}

.queue-small .queue-item {
width: 144px;
height: 55px;
}

.queue-item-active {
width: 86px;
height: 125px;
}

.queue-item {
float: left;
width: 86px;
height: 125px;
margin: 0;
list-style: none;
background: #000;
}

.module-cell {
position: relative;
width: 310px;
padding: 0;
margin: 0 15px 15px 0;
float: left;
background: #ffffff;
}

.module {
position: relative;
-webkit-transition: 0.3s ease;
-moz-transition: 0.3s ease;
-ms-transition: 0.3s ease;
-o-transition: 0.3s ease;
transition: 0.3s ease;
}

.queue-small .queue-item-content {
height: 45px;
width: 140px;
margin: 5px 2px;
}

.queue-item .queue-item-content {
position: relative;
margin: 5px 2px;
}

.queue-small .queue-item-active .queue-song {
height: 45px;
}

.queue-small .queue-song {
width: 140px;
height: 45px;
background-position: -246px -45px;
text-align: left;
}
.queue-small .queue-item-active .queue-song {
background-position: -246px -90px;
height: 45px;
text-align: left;
}

.queue-item-active .queue-song {
background-position: -164px 0;
z-index: 9001;
}

.queue-item .remove {
display: none;
position: absolute;
width: 18px;
height: 18px;
top: -4px;
right: -4px;
background-position: -140px -135px;
z-index: 10000;
}
	.queue-song, .queue-song a.play, .queue-song-options a, .queue-radio-options a, .queue-small .queue-song .play, .queue-small .queue-song .inLibrary .collection, .queue-small .queue-song .options, .queue-item a.remove {
background-image: url('/static/image/queue.png');
background-repeat: no-repeat;
}

.queue-song {
display: block;
position: relative;
height: 115px;
width: 82px;
background-position: -82px 0;
text-align: center;
}
.queue-item .queue-song:hover .remove {
display: block;
}

.queue-small .album-art {
position: absolute;
width: 34px;
height: 34px;
left: 3px;
top: 3px;
margin: 2px;
}

.queue-small .queue-item-active .queue-song-name {
color: #fff;
text-shadow: 0 1px 1px #b85500;
}

.queue-small .queue-song-name {
display: inline-block;
text-align: left;
padding-top: 7px;
margin: 0 0 0 50px;
max-width: 82px;
}
.queue-item-active .queue-song-name {
text-shadow: 0 1px 1px #b85500;
}

.queue-song .queue-song-name, .queue-song queue-song-artist {
cursor: pointer;
}
.queue-song-name {
display: inline-block;
width: auto;
max-width: 74px;
font-size: 12px;
line-height: 16px;
margin: 10px 4px 0 4px;
font-weight: bold;
color: #fff;
}

.queue-song-name, .queue-song-artist {
display: block;
text-align: center;
width: 100%;
}

.ellipsis {
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}
.queue-small .queue-song-artist {
display: block;
text-align: left;
margin: 0 0 0 50px;
width: 82px;
}

.queue-song-artist {
width: 74px;
font-size: 10px;
line-height: 13px;
margin: 0 4px;
color: #666;
}

.queue-small .queue-item-active .queue-song-artist {
color: #fff;
text-shadow: 0 1px 1px #b85500;
}


#scrubber {
position: relative;
width: 16px;
height: 16px;
top: -4px;
left: -8px;
background-position: -7px -67px;
cursor: pointer;
z-index: 100;
}


#queue:hover #queue-scrollbar-thumb-inner, #queue:active #queue-scrollbar-thumb-inner, #queue .scroll-active #queue-scrollbar-thumb-inner {
background-position: 0 -110px;
}

#queue-scrollbar-thumb-inner {
width: 100%;
height: 5px;
overflow: hidden;
background: url("/static/image/scrollbar") 0 -65px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

#np-comment:hover {
background-position: 0px -48px;
}
#np-fav:hover {
background-position: -320px -96px;
}

#np-add:hover {
background-position: 0px -32px;
}
#np-share:hover {
background-position: -352px -160px;
}

#np-menu:hover {
background-position: -288px 0px;
}

#volume.player-icon.five:hover {
background-position: -30px -30px;
}

#play-pause:hover {
background-position: -150px 0px;
}
#play-prev:hover {
background-position: -60px 0px;
}

#play-next:hover {
background-position: -330px 0px;
}

      .audiojs audio { position: absolute; left: -1px; } 
      
		.audiojs .play-pause { width: 30x; height: 40px; margin: 0px; float: left; overflow: hidden;  } 
		.audiojs .img-container {
position: relative;

width: 40px;
height: 40px;
top: 2px;
left: 1px;
float: left;
}
        .audiojs .scrubber { position: absolute;
width: 380px;
margin-left: 290px;
height: 8px;
background: #000;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
margin-top: 14px;
margin-left: 50px;

		}    
		
		
		      
		.audiojs .time { float: left; height: 36px; line-height: 36px; margin: 0px 0px 0px 6px; padding: 0px 6px 0px 12px;  color: #ddd; text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5); }        
		.audiojs .time em { 
position: absolute;
color: #f9f9f9;
font-style: normal;
color: #f9f9f9; font-style: normal; font-size: 11px;}     
		.audiojs .time strong {font-size: 11px;
position: absolute;
font-weight: normal;
margin-left: 440px;
font-weight: normal; }      
		.audiojs .error-message { float: left; display: none; margin: 0px 10px; height: 36px; width: 400px; overflow: hidden; line-height: 36px; white-space: nowrap; color: #fff;           text-overflow: ellipsis; -o-text-overflow: ellipsis; -icab-text-overflow: ellipsis; -khtml-text-overflow: ellipsis; -moz-text-overflow: ellipsis; -webkit-text-overflow: ellipsis; }  
		.audiojs .error-message a { color: #eee; text-decoration: none; padding-bottom: 1px; border-bottom: 1px solid #999; white-space: wrap; } 
		.audiojs .loading { background: url("/static/audiojs/player-graphics.gif") -2px -31px no-repeat; }         .audiojs .error { background: url("../audiojs/player-graphics.gif") -2px -61px no-repeat; }         .audiojs .pause { background-position: -210px 0px; }              
		.playing .play, .playing .loading, .playing .error { display: none; }  
		.playing .pause { display: block; }         
        .loading .play, .loading .pause, .loading .error { display: none; }   
		.loading .loading { display: block;margin-top: 6px; } 
		.error .time, .error .play, .error .pause, .error .scrubber, .error .loading { display: none; }         .error .error { display: block; }
		.error .play-pause p { cursor: auto; }
		.error .error-message { display: block; }
		
#queue-container {
position: absolute;
height: 134px;
top: 60px;
left: 0;
right: 0;
background: #000;
}

    body { color: #666; font-family: sans-serif; line-height: 1.4; }
      h1 { color: #444; font-size: 1.2em; padding: 14px 2px 12px; margin: 0px; }
      h1 em { font-style: normal; color: #999; }
      a { color: #888; text-decoration: none; }
      #wrapper { width: 400px; margin: 40px auto; }


  
      ol { padding: 0px; margin: 0px; list-style: decimal-leading-zero inside; color: #ccc; width: 460px; border-top: 1px solid #ccc; font-size: 0.9em;margin-left: 19px; }
      ol li { position: relative; margin: 0px; padding: 9px 2px 10px; border-bottom: 1px solid #ccc; cursor: pointer; }
      ol li a { display: block; text-indent: -3.3ex; padding: 0px 0px 0px 20px; }
      li.playing { color: #aaa; text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.3); }
      li.playing a { color: #000; }
      li.playing:before { content: '♬'; width: 14px; height: 14px; padding: 3px; line-height: 14px; margin: 0px; position: absolute; left: -24px; top: 9px; color: #000; font-size: 13px; text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2); }
      
      #shortcuts { position: fixed; bottom: 0px; width: 100%; color: #666; font-size: 0.9em; margin: 60px 0px 0px; padding: 20px 20px 15px; background: #f3f3f3; background: rgba(240, 240, 240, 0.7); }
      #shortcuts div { width: 460px; margin: 0px auto; }
      #shortcuts h1 { margin: 0px 0px 6px; }
      #shortcuts p { margin: 0px 0px 18px; }
      #shortcuts em { font-style: normal; background: #d3d3d3; padding: 3px 9px; position: relative; left: -3px;
        -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px;
        -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); -o-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); }

      @media screen and (max-device-width: 480px) {
        #wrapper { position: relative; left: -3%; }
        #shortcuts { display: none; }
      }
	  
	  
	   
 .volume-1{
 width: 150px;
height: auto;
margin: 100px auto 0;
position: relative;}
 

 #volume-control {
position: absolute;
left: 320px;
top: -194px;
width: 24px;
height: 98px;
z-index: 10002;
display: none;
background-position: center bottom;
}
#volume-control, #volume-slider .ui-slider-handle {

background-image: url('/static/image/volume-control.png');
background-repeat: no-repeat;

}
#volume-slider {
position: absolute;
bottom: 10px;
left: 2px;
width: 20px;
height: 70px;
cursor: pointer;
}

#volume-slider .ui-slider-range {
bottom: 4px;
position: absolute;
width: 8px;
margin: 0 6px;
background: url('/static/image/volume-control1.png') repeat-y center;
}

#volume-slider .ui-slider-handle {
position: absolute;
left: 3px;
bottom: 0;
height: 7px;
width: 12px;
background-position: left top;
z-index: 10000;
cursor: pointer;
}







