<!DOCTYPE HTML>

<html>
    <head>
   <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css"/>        
   <link rel="stylesheet" type="text/css" href="/static/css/style.css"> 
    <link rel="stylesheet" type="text/css" href="/static/css/home.css"/>     
	<link rel="stylesheet" type="text/css" href="/static/css/header.css"/> 			



		<script src="/static/js/jquery.js"></script>
		<script src="/static/audiojs/audio.min.js"></script>

		<script src="/static/js/bootstrap.js"></script>

 </head>
    <body style="background-color:#d1d1d1">

	
	
	{% include 'header.html'%}
<div id="left-pannel" class="1 left-pannel-1" style="background-color:red;display:block">
<div class="left-ticker">


    <ol>
        <li class="playing"><a href="/static/media/Saari.mp3" data-src="/static/media/Saari.mp3">dead wrong intro</a></li>
        <li><a href="http://kolber.github.io/audiojs/demos/test6.html#" data-src="http://s3.amazonaws.com/audiojs/02-juicy-r.mp3">juicy-r</a></li>
        <li><a href="http://kolber.github.io/audiojs/demos/test6.html#" data-src="http://s3.amazonaws.com/audiojs/03-its-all-about-the-crystalizabeths.mp3">it's all about the crystalizabeths</a></li>
        <li><a href="http://kolber.github.io/audiojs/demos/test6.html#" data-src="http://s3.amazonaws.com/audiojs/04-islands-is-the-limit.mp3">islands is the limit</a></li>
        <li><a href="http://kolber.github.io/audiojs/demos/test6.html#" data-src="http://s3.amazonaws.com/audiojs/05-one-more-chance-for-a-heart-to-skip-a-beat.mp3">one more chance for a heart to skip a beat</a></li>
        <li><a href="http://kolber.github.io/audiojs/demos/test6.html#" data-src="http://s3.amazonaws.com/audiojs/06-suicidal-fantasy.mp3">suicidal fantasy</a></li>
        <li><a href="http://kolber.github.io/audiojs/demos/test6.html#" data-src="http://s3.amazonaws.com/audiojs/07-everyday-shelter.mp3">everyday shelter</a></li>
        <li><a href="http://kolber.github.io/audiojs/demos/test6.html#" data-src="http://s3.amazonaws.com/audiojs/08-basic-hypnosis.mp3">basic hypnosis</a></li>
        <li><a href="http://kolber.github.io/audiojs/demos/test6.html#" data-src="http://s3.amazonaws.com/audiojs/09-infinite-victory.mp3">infinite victory</a></li>
        <li><a href="http://kolber.github.io/audiojs/demos/test6.html#" data-src="http://s3.amazonaws.com/audiojs/10-the-curious-incident-of-big-poppa-in-the-nighttime.mp3">the curious incident of big poppa in the nighttime</a></li>
        <li><a href="http://kolber.github.io/audiojs/demos/test6.html#" data-src="http://s3.amazonaws.com/audiojs/11-mo-stars-mo-problems.mp3">mo stars mo problems</a></li>
      </ol>


</div>
</div>

<div id="main" class="main home-page" data-page-type="home">
	{% for i  in "xx" %}
		<div class="popular-radios-carousel" id="popular-radios-carousel">
		<h2 class="carousel-title" >Bollywood Music </h2>
		<div class="caroufredsel_wrapper" style="display: block; text-align: start; float: none; position: relative; top: auto; right: auto; bottom: auto; left: auto; z-index: auto; height: 175px; margin: 0px;" >
		<ul class="carousel-list" style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; width: 7216px; height: 175px;" >
		{% for album_id, album_title in topAlbums %}
			<li class="carousel-list-item" >
				<a  class="xhr home-carousal-entity radio-link" title="Bollywood" href="/album/{{ album_id }}">
					<button class="icon artwork-overlay radio-play-icon radio-home-top-play" ></button> 
					<img src="/static/image/{{ album_id }}.jpg" alt="Bollywood" width="134" height="134"  style="display: inline;" >
				</a>
				<div class="metadata" >
					<a class="home-carousal-entity" data-title={} >{{ album_title }}</a><span></span>
					<div class="overflow-fade"></div>
				<div>
			</li>
		{% endfor %}
		</ul>
		</div>
		</div>
	{% endfor %}
</div>
 	

	{% include 'footer.html' %}
	</body>
</html>