<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Minimal Django File Upload Example</title>	
	</head>

	<body>
		<!-- List of uploaded documents -->
		<img src="/images/images.jpg"></img>
		<label>Title==>{{ song }}</br></label>
		<label>Movie==>{{ movie }}</br></label>
		<label>Actor==>{{ actor }}</br></label>
		<label>Singer==>{{ singer }}</br></label>
		<label>Genre==>{{ genre }}</br></label>
		<div><h2>UPLOADED INFO</h2> </br>
		{{ result }}
		</div>
	</body>

</html> 
