

     





  
  
	<div>	
<div id="player-wrapper" class="has-songs queue-small">
  <div id="wrapper">
 

 <div id="player-bg" ><div style="position: relative;
width: 75%;
max-width: 1000px;
top: 5px;
margin: 0 auto;
cursor: auto;
z-index: 20;">
<audio preload="" src="/static/media/Saari.mp3"></audio>  </div ></div>
<div id="queue-container">
<div id="queue" tabindex="9999">
<div id="queue-list-window" class="queue viewport" style="">
<ol id="queue-list" class="queue medium overview empty grid-view10" style="position: relative; width: 144px; left: 0px;">
<div class="grid-viewport" style="position: relative;">
<div class="grid-canvas" style="position: absolute; -webkit-transform: translate(0px, 0);">
<div class="module module-cell queue-item grid-item queue-item-active" style="display: block;">
<div class="queue-item-content"><div class="queue-song">
<a class="remove" title=""></a>
<div class="album-art">
<div class="queue-radio-options">
<a class="smile queue-radio-option active" title="More of this!">
</a>
<a class="frown queue-radio-option" title="Nah, skip it."></a>
</div>
<div class="queue-song-options">
<a class="collection textToggle queue-song-option" title="Add to Favorites"></a>
<a class="options selectbox queue-song-option" title="Options"></a>
</div>
<a class="play paused" rel="1"></a>
<img class="img" src="/static/image/small.jpg" height="100%" width="100%">
</div>
<a class="queue-song-name song song-link toolti-for-full-text ellipsis"  title="Letter to My Exâ€™s">Songs songs  name </a>
<a href="#" title="" class="queue-song-artist artist ellipsis">artist</a></div></div></div></div></div></ol></div>
<div class="scrollbar disable" style="width: 1366px;">
<div class="track" style="width: 1366px;">
<div id="queue-scrollbar-track-inner" class="queue-scrollbar-background">
<div class="thumb" style="left: 0px; width: 1366px;"><div id="queue-scrollbar-thumb-inner" class="end queue-scrollbar-background"></div></div></div></div></div></div></div>

</div>
</div>


 </body>
</html>