<script>

</script>






<header >
<div class="top-panel" >
<div class="login-button">
<a class="btn btn-primary" data-toggle="modal" data-target="#myModal_signup" style="font-weight:bold; font-size:11px;cursor:pointer;margin-top: 3px;
 ">SIGN UP</a>  <a id ="login-i" data-toggle="modal" href="/accounts/login" data-target="#myModal_login" style=" font-size:11px;
 font-weight:bold ;color:white">LOG IN</a>  
</div>

<div class="master-all">
<div class="btn master-upload" style="margin-top: -1px;">
         Upload
              </div>
<div class="master-search" >

<form id="masthead-search" class="search-form consolidated-form" action="/results" >
<button id="search-btn" dir="ltr" tabindex="2" type="submit" onclick="" class="search-btn-component search-button yt-uix-button yt-uix-button-default" role="button">    <span class="yt-uix-button-content">
Search 
    </span>
</button><div id="masthead-search-terms" class="masthead-search-terms-border ui-autocomplete-input ui-corner-all" dir="ltr"><label><input id="masthead-search-term" class="search-term yt-uix-form-input-bidi" name="search_query" value="" type="text" tabindex="1" title="Search" placeholder="Search for songs, artists and albums"></label></div></form>
<style>
  .ui-autocomplete-loading {
    background: white url('images/ui-anim_basic_16x16.gif') right center no-repeat;
  }
  </style>
 </div>
 </div >
 



</div>

       <div class="modal hide " id="myModal_signup" aria-hidden="true" data-show="true" style=" width:99% ;display:none;
                overflow:Auto;      position:absolute; padding: 9px;   border-radius: 0px 0px 0px 0px;   box-shadow: 0px 0px 6px rgb(162, 162, 162);   
    background-color: rgb(235, 232, 232); border: 1px solid rgba(0,0,0,0.3); height:100%;s"  tabindex='-1'  >
			<a class="close" data-dismiss="modal" style="padding: 1px;  color:red;margin-top:-2px;margin-right:4px;" data-keyboard="true">x</a>
	<div class="signup-main-box" >
	
	<header>
	<h1>Log  in to Kiwi</h1>
	<p>Use Facebook, Gmail or your email to Log in.</p>
	<p class="signup">Join Kiwi Getting in is easy. Use one of your social networks or start fresh with an email address.
Already have a Kiwi account? <a id="log_in_here" > Sign in.</a> </p>
</header>
<section>

		<div>
			<aside class="thirdParty" style=" margin-left: 150px;">
				
				<button class="facebook massive" data-provider="facebook" type="button"><i class="facebook_170"></i><p>Facebook</p></button>
				
				
				<button class="twitter massive" data-provider="twitter" type="button"><i class="twitter_170"></i><p>Google</p></button>
				<button class="email login massive"><i class="email_170"></i><p>Email</p></button>
			</aside>
			
		
	
</section>


	</div>
	
	
</div>

<div class="modal hide " id="myModal_login" aria-hidden="true" data-show="true" 
               style=" width:99% ;display:none;
                overflow:Auto;      position:absolute; padding: 9px;   border-radius: 0px 0px 0px 0px;   box-shadow: 0px 0px 6px rgb(162, 162, 162);   
    background-color: rgb(235, 232, 232); border: 1px solid rgba(0,0,0,0.3); height:100%;s"  tabindex='-1'>
				<a class="close" data-dismiss="modal" style="padding: 1px;  color:red;margin-top:-2px;margin-right:4px;" data-keyboard="true">x</a>
	<div class="signup-main-box" >
	
	<header>
	<h1>Sign in to Kiwi</h1>
	<p>Use Facebook, Gmail or your email to sign in.</p>
	<p class="signup">Don't have a Kiwi account yet? No worries, <a id="sign_up_here">joining</a> is easy.</p>
</header>
<section>
	<form class="signInForm" id="signInForm" method="POST" action="/ajax/account/signin" name="signInForm" novalidate="novalidate">
		<div>
			<aside class="thirdParty">
				
				<button class="facebook massive facebook_log" data-provider="facebook" type="button"><i class="facebook_170"></i><p>Facebook</p></button>
				
				
				<button class="twitter massive twitter_log" data-provider="twitter" type="button"><i class="twitter_170"></i><p>Google</p></button>
				
			</aside>
			<fieldset class="errorContainer">
				<div class="control-group">
					<div class="control email">
						<label for="login.email">Email or Username</label>
						<input type="text" id="login.email" name="email" required="required" data-err-req-message="Please enter your username or email.">
						<span class="tipHolder" data-original-title=""></span>
					</div>
				</div>
				<div class="control-group">
					<div class="control password">
						<label for="login.password">Password</label>
						<input type="password" id="login.password" name="password" required="required" data-err-req-message="Please enter a password.">
						<span class="tipHolder" data-original-title=""></span>
					</div>
				</div>
				<div class="control-group">
					<a class="help" href="#">Forgot password?</a>
					<label class="rememberMe"><input class="msCheckbox white left" id="staySignedIn" type="checkbox" name="rememberMe"><span></span> Keep me signed in</label>
				</div>

				<input type="hidden" name="pageId" value="c16cd294-9ff4-4250-ae96-4c464ff9f192">
				<p class="genericError tipHolder" data-original-title=""></p>
			</fieldset>
		</div>
		<footer class="formFooter">
			<button type="submit" form="signInForm" class="primary">Sign In</button>
		</footer>
	</form>
</section>


	</div>
	
	
	
	
	
</div>


</header>
